{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-65K5BRGGLS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-65K5BRGGLS');
    </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'bundle.css' %}">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>       
        <div id="app"></div>
        <script type="module" crossorigin src="{% static 'bundle.js' %}"></script>
    </body>
</html>