{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}Account Inactive{% endblock %}

{% block auth %}

<h4 class="auth-txt">Account Inactive</h4>

<br>
<p class="auth-txt at-90">This account is inactive. Please <a class="auth-lnk" href="{% url 'account_signup' %}">sign up</a> again.</p>

<form action="{% url 'entry-point' %}">
    <input  class="btn btn-sm btn-outline-secondary" type="submit" value="Home" />
</form>

{% endblock %}
