{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}E-mail Addresses{% endblock %}

{% block auth %}
<h4 class="auth-txt">E-mail Addresses</h4>

{% if user.emailaddress_set.all %}
<p class="auth-txt">{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form class="auth-email" action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

{% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
  <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

  <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
{% if emailaddress.verified %}
<span class="verified at-80">({% trans "Verified" %})</span>
{% else %}
<span class="unverified at-80">({% trans "Unverified" %})</span>
{% endif %}
  {% if emailaddress.primary %}<span class="primary at-80">({% trans "Primary" %})</span>{% endif %}
</label>
</div>
{% endfor %}
<br>
<div class="buttonHolder">
  <button class="btn btn-sm btn-outline-secondary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
  <button class="btn btn-sm btn-outline-secondary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
  <button class="btn btn-sm btn-outline-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}
<hr>
<div class="login-form-container">
<form class="auth-email login" method="post" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-sm btn-outline-success" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
</form>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
