{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}Sign In{% endblock %}

{% block auth %}
<h4 class="auth-txt">Log In</h4>

<p>{% blocktrans %}Doesn't have an account? Then please <a href="{{ signup_url }}">sign up</a>.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form | crispy}}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-outline-secondary btn-sm btn-block auth-txt btn-custom-log" type="submit">Sign In</button>

</form>


</div>



{% endblock %}
