{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}Password Reset{% endblock %}

{% block auth %}
<h4 class="auth-txt">Password Reset</h4>

  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

  <form action="{% url 'entry-point' %}">
      <input  class="btn btn-sm btn-outline-secondary" type="submit" value="Home" />
  </form>

{% endblock %}
