{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}Change Password{% endblock %}

{% block auth %}
<h4 class="auth-txt">Change Password</h4>

<div class="login-form-container">
<form class="auth-email login" method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-sm btn-outline-secondary" type="submit" name="action">{% trans "Change Password" %}</button>
</form>
</div>

{% endblock %}
