{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}Set Password{% endblock %}

{% block auth %}
<h4 class="auth-txt">Set Password</h4>

<div class="login-form-container">
  <form class="login auth-email" method="POST" action="{% url 'account_set_password' %}" class="password_set">
      {% csrf_token %}
      {{ form | crispy }}
      <input class="btn btn-outline-secondary btn-sm btn-block auth-txt" type="submit" name="action" value="{% trans 'Set Password' %}"/>
  </form>
</div>

{% endblock %}
