{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}
<!--{% load socialaccount %}
{% load account socialaccount %}-->
{% load i18n %}

{% block head_title %}Sign Up{% endblock %}

{% block auth %}
<h4 class="auth-txt">Sign Up</h4>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


<div class="login-form-container">
  <a class="btn btn-outline-secondary btn-sm btn-block auth-txt" href="{% provider_login_url "twitter" %}"><img src="https://img.icons8.com/color/20/000000/twitter-logo.png"> &nbsp; Sign in with X/Twitter</a>

<div class="hr-or"></div>
  <form class="signup login auth-email" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-secondary btn-sm btn-block auth-txt"  type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>






{% endblock %}
